<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<div data-role="page">
    <div data-role="header">
        <h1>Sign Up</h1>
    </div>

    <div data-role="main" class="ui-content">
        <form action="/employees/save" method="POST" th:object="${employee}">
            <fieldset data-role="controlgroup">
                <legend>Employee information:</legend>

                <label for="firstName"></label>
                First name: <input type="text" id="firstName" th:field="${employee.firstName}"> <br>
                <br>
                <label for="lastName"></label>
                Last name: <input type="text" id="lastName" th:field="${employee.lastName}"> <br>
                <br>
                <label for="email"></label>
                Email: <input type="text" id="email" th:field="${employee.email}"> <br>
                <br>
            </fieldset>


            <button type="submit">Create employee</button>
            <input type="reset" data-inline="true" value="Reset">
        </form>
    </div>
</div>

</body>
</html>