<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layouts :: header">

    <title>Home</title>

<body>

<nav th:replace="layouts :: navbar"></nav>

<div>
    <h4>Current Projects</h4>
    <table>
        <thead>
        <tr>
            <th>Project Name</th>
            <th>Project Stage</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="aProject : ${projectList}">
            <td th:text="${aProject.name}">
            <td th:text="${aProject.stage}">
            </td>
        </tr>
        </tbody>

    </table>
</div>

</body>
</html>