<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layouts :: header}">

    <title>Home</title>
</head>

<body>
<nav th:replace="~{layouts :: navbar}"></nav>
<div data-role="page">
    <div data-role="header">
        <h1>Sign Up</h1>
    </div>

    <div data-role="main" class="ui-content">
        <form action="/projects/save" method="POST" th:object="${project}">
            <fieldset data-role="controlgroup">
                <legend>Project information:</legend>

                <label for="name"></label>
                Project name: <input type="text" id="name" th:field="${project.name}"> <br>
                <br>

                <label for="stage">Choose a stage:</label>
                <select name="stage" id="stage">
                    <option th:value="NOTSTARTED">Not started</option>
                    <option th:value="INPROGRESS">In progress</option>
                    <option th:value="COLPLETED">Completed</option>
                </select>

                <br>
                <br>
                <label for="description">Description</label>

                <textarea type="text" id="description" placeholder="type project description" th:field="${project.description}"></textarea>
                <br>
                <!--these two are the same *{employees} = ${project.employees}-->
                <label for="employee">Employees</label>
                <select id="employee" th:field="*{employees}" multiple="multiple">
                    <option th:each="employee : ${employees}"
                            th:value="${employee.id}"
                            th:text="${employee.firstName}">

                    </option>
                </select>

            </fieldset>


            <button type="submit">Create Project</button>
            <input type="reset" data-inline="true" value="Reset">
        </form>
    </div>
</div>

</body>
</html>